@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.btn:focus,
.btn:active,
.btn {
  outline: none;
  box-shadow: none !important;
  border: none !important;
}

.hidden {
  display: none;
}
